OPENCLAW_GATEWAY_TOKEN=
OPENCLAW_HOOKS_TOKEN=
STATS_SERVER_PORT=8765
GATEWAY_URL=http://localhost:18789
GOWA_URL=http://localhost:3000
GOWA_DEVICE=parham
GOWA_BLOCKLIST_PATH=/home/node/gowa/blocklist.json
OWNER_TELEGRAM_ID=
NOTION_LEADS_DB=
